@model Book
<form asp-action="Index" asp-controller="Edit">
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Kitabın adı</label>
        <input value="@ViewBag.book.Name" asp-for="Name" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
    </div>
    <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Kitabın yazarı</label>
        <input value="@ViewBag.book.Author" asp-for="Author" class="form-control" id="exampleInputPassword1">
    </div>
    <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Kitabın türü</label>
        <input value="@ViewBag.book.CategoryName" asp-for="CategoryName" class="form-control" id="exampleInputPassword1">
    </div>
    <label for="zort">Okunma durumu</label>
    <select value="@ViewBag.book.isRead" asp-for="isRead" id="zort" class="form-select" aria-label="Default select example">
        <option value="false">Okunacak</option>
        <option value="true">Okundu</option>
    </select>
    <input asp-for="Id" type="hidden" value="@ViewBag.book.Id" />
    <button type="submit" class="btn btn-primary">Kaydet</button>
</form>
